# Statistics Answer 9

In [1]:
#Importing the required libraries

import pandas as pd
import scipy.stats as stats

In [2]:
# Create a DataFrame with the given data
data = {
    'name': ['karan', 'deepa', 'karthik', 'chandan', 'jeevan'],
    'exam1': [85, 70, 90, 75, 95],
    'exam2': [90, 80, 85, 70, 92],
    'finalexam': [92, 85, 88, 75, 96]
}

In [3]:
#Reading the dataframe

df = pd.DataFrame(data)
df

      name  exam1  exam2  finalexam
0    karan     85     90         92
1    deepa     70     80         85
2  karthik     90     85         88
3  chandan     75     70         75
4   jeevan     95     92         96

In [4]:
# Perform one-way ANOVA
f_statistic, p_value = stats.f_oneway(df['exam1'], df['exam2'], df['finalexam'])

# Print the test statistic and p-value
print("One-way ANOVA F-statistic:", f_statistic)
print("p-value:", p_value)

One-way ANOVA F-statistic: 0.3236947791164659
p-value: 0.7295954253321558

The p-value is greater than the chosen significance level ( 0.05), it indicates that there is no significant differences in the mean scores of the students across the exams, and we accept the null hypothesis that the mean scores are the same.

In [5]:
#Finding the Student with the highest score

max_score = df[['exam1', 'exam2', 'finalexam']].max().max()
student_with_highest_score = df[df[['exam1', 'exam2', 'finalexam']].max(axis=1) == max_score]['name'].iloc[0]

print("Student with the highest score:", student_with_highest_score.capitalize())

Student with the highest score: Jeevan